#questionsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px white solid;
    border-radius: 10px;
    height: 300px;
}

button{
    border: 2px white solid;
}